---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Number Game">
  <main>
    <p style="font-family: 'Lobster', cursive;" class="mr-2 underline">
      Guess My Number
    </p>

    <i class="fa-solid fa-face-smile-wink"></i>

    <i class="fa-solid fa-arrow-right"></i>
    <i class="fa-solid fa-arrow-right"></i>
    <i class="fa-solid fa-arrow-right"></i>

    <div
      style="font-family: 'Raleway', sans-serif;"
      class="text-7xl font-bold border-4 text-green border-green px-6 py-3 rounded-2xl"
    >
      ?
    </div>
    <p class="mb-6">Between 1 and 20</p>
    <p class="">You have 5 attempts</p>

    <p class="mb-6">Start guessing...</p>
    <input
      type="number"
      class="text-white bg-brown text-center m-2 py-2 w-36 rounded-2xl"
    />

    <p>Best Score:</p>
    <p>High Score:</p>

    <button>Check</button>
    <button>Try Again</button>
  </main>
</Layout>
